<head>
  <title>Michael Hoffman</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Oswald:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <div id="container">
    <div id="intro">
      <h1>I'm Michael Hoffman.</h1>
      <hr>

      <p>I'm rebuilding this site. (I bet you've heard that one before…)</p>
    </div>

    <div id="links">
      <p>
        <a href='https://twitter.com/hoffm'>Twitter</a> &bull;
        <a href='https://github.com/hoffm'>GitHub</a> &bull;
        <a href='https://linkedin.com/in/hoffm'>LinkedIn</a>
      </p>
    </div>
  </div>
</body>



