<div id="container">

  <div id="headline">
    <h1>Michael Hoffman</h1>
    <hr class="title-underline">
  </div>

  <div id="intro">
    <p>I'm a software engineer.</p>
    <p>Come say a casual
      <a href='https://twitter.com/hoffm'>hi</a>,<br>
      &nbsp; &nbsp; a professional
      <a href='https://linkedin.com/in/hoffm'>hello</a>,<br>
      &nbsp; &nbsp; or maybe a
      <a href='https://github.com/hoffm'>hello world</a>.</p>
  </div>

  <div id="projects">

  </div>
</div>
