<head>
  <title>Michael Hoffman</title>

  <style>
    body {
      font-family: "courier",	/* Windows, MacOS */ courier,	/* Unix+X, MacOS */ monospace;
      background-color: #F3FFBD;
      text-align: center;
      margin-top: 50px;
      font-size: 30px;
      font-size: 3vw;
    }
    h1, h2, p {
      color: #247BA0;
      margin-bottom: 0;
    }
    h2 {
      margin: 20 0 50 0;
    }
    p {
      margin: 30px 7%;
    }
    h2{
      font-size: 30px;
      font-size: 3vw;
    }
    a {
      color: #FF1654;
    }
  </style>
</head>

<body>

<div id="intro">
  <h1>I'm Michael Hoffman</h1>

  <h2>Thanks for stopping by.</h2>

  <p>I'm rebuilding this site.</p>

  <p>(I bet you've heard that one before…)</p>
</div>

<div id="links">
  <p>
    <a href='https://twitter.com/hoffm'>Twitter</a> |
    <a href='https://github.com/hoffm'>GitHub</a> |
    <a href='https://linkedin.com/in/hoffm'>LinkedIn</a>
  </p>
</div>

</body>



