<div id="container">

  <%= erb :header %>

  <h2>I make software.</h2>

  <div class="body" id="intro">
    <p>I work on <a href="https://www.nytimes.com/games" target="_blank">Games</a> at The New York Times.</p>
    <p>Check out some of my <a href="/projects">projects</a>.</p>
    <p>Maybe read some of my <a href="/writing">writing</a>.</p>


    <p>Or, come say a casual
      <a href='https://twitter.com/hoffm' target="_blank">hi</a>,<br>
      &nbsp; &nbsp; a professional
      <a href='https://linkedin.com/in/hoffm' target="_blank">hello</a>,<br>
      &nbsp; &nbsp; or maybe a
      <a href='https://github.com/hoffm' target="_blank">hello world</a>.</p>
  </div>
</div>
