<head>
  <title>Michael Hoffman</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Oswald:wght@300;600&display=swap" rel="stylesheet">

  <style>

    :root {
      --sonic-silver: #7c7a7aff;
      --white: #ffffffff;
      --persian-green: #17a398ff;
      --russian-violet: #2f004fff;
      --shocking-pink: #ed33b9ff;
    }

    body {
      font-family: 'Arvo', serif;
      background-color: var(--russian-violet);

    }
    h1, p {
      color: var(--white);
      margin-bottom: 0;
    }
    hr {
      width: 48vw;
      margin: 1vw 0px;
      height: 2px;
      /*border-width: 0;*/
      color: var(--white);
      background-color: var(--white);

    }
    a {
      color: var(--persian-green);
    }
    #container {
      font-size: 2vw;
      margin: 30px 7%;
      transform: skewY(-6deg);
    }
  </style>
</head>

<body>

<div id="container">
  <div id="intro">
    <h1>I'm Michael Hoffman.</h1>
    <hr>

    <p>I'm rebuilding this site. (I bet you've heard that one before…)</p>
  </div>

  <div id="links">
    <p>
      <a href='https://twitter.com/hoffm'>Twitter</a> &bull;
      <a href='https://github.com/hoffm'>GitHub</a> &bull;
      <a href='https://linkedin.com/in/hoffm'>LinkedIn</a>
    </p>
  </div>
</div>



</body>



