<div id="container" id="twib-container">
  <h1>The Weather in Brooklyn</h1>
  <hr class="title-underline">

  <p>A fully automated podcast by <a href="/">Michael Hoffman</a>.</p>

  <div>
    <img class="podcast-image" src="https://twib.s3.amazonaws.com/twib.jpg"/>
  </div>

</div>

