:root {
  --sonic-silver: #7c7a7aff;
  --white: #ffffffff;
  --persian-green: #17a398ff;
  --russian-violet: #2f004fff;
  --shocking-pink: #ed33b9ff;
}

body {
  font-family: 'Arvo', serif;
  background-color: var(--russian-violet);
}

h1, h2, p {
  color: var(--white);
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
}

hr {
  width: 48vw;
  margin: 1vw 0px;
  height: 3px;
  border-width: 0;
  color: var(--white);
  background-color: var(--white);
}

a {
  color: var(--persian-green);
}

#container {
  font-size: 2vw;
  margin: 3em 7%;
  transform: skewY(-6deg);
}

#intro {
  margin-top: 1em;
}

#links {
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  #container {
    font-size: 3vw;
  }

  .title-underline {
    width: 72vw;
  }
}

@media screen and (max-width: 500px) {
  #container {
    font-size: 5vw;
  }

}
