:root {
  --sonic-silver: #7c7a7aff;
  --white: #ffffffff;
  --persian-green: #17a398ff;
  --russian-violet: #2f004fff;
  --shocking-pink: #ed33b9ff;
}

body {
  font-family: 'Arvo', serif;
  background-color: var(--russian-violet);
  margin: 0;
  overflow-x: hidden;
}

h1, h2, p, dl {
  color: var(--white);
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
}

dt {
  margin-bottom: 0.2em;
}

dd {
  margin-bottom: 1em;
}

.project-name{
  background-color: var(--white);
  color: var(--russian-violet);
  padding: 0 0.5em;
  text-decoration: none;
  width: 15em;
}

hr {
  width: 48vw;
  margin: 1vw 0px;
  height: 3px;
  border-width: 0;
  color: var(--white);
  background-color: var(--white);
}

a {
  color: var(--persian-green);
}

h1 > a {
  color: var(--white);
  text-decoration: none;
}

#container {
  font-size: 2vw;
  margin: 3em 7%;
}

.tilt {
  transform: skewY(-6deg);
}

.body {
  margin-top: 1em;
}

#projects {
  margin-top: 4em;
}

.link-icon{
  fill: var(--white);
  height: 100%;
  stroke: var(--white);
  stroke-width: 0.5;
  width: 100%;
}

.link-icon-container{
  display: inline-block;
  height: 2.5vw;
  margin-left: 0.5em;
  vertical-align: text-bottom;
  width: 2.5vw;
}

@media screen and (max-width: 800px) {
  #container {
    font-size: 3vw;
  }

  .title-underline {
    width: 72vw;
  }

  .link-icon-container{
    height: 4vw;
    width: 4vw;
  }
}

@media screen and (max-width: 500px) {
  #container {
    font-size: 5vw;
  }

  .link-icon-container{
    height: 6vw;
    width: 6vw;
  }

  #projects {
    margin-top: 3em;
  }
}
